@charset "UTF-8";
/*  Variables, Mixins y Funciones   */
/*  Correspondiente al codigo general   */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::selection {
  background-color: #d6a779; }

:is(h1) {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  color: #F2F2F2; }

:is(h2) {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 2rem;
  text-align: center;
  color: #F2F2F2; }

:is(h3) {
  font-family: 'Oxygen Mono', monospace;
  font-size: 1.25rem;
  color: #F2F2F2; }

:is(p) {
  font-family: 'Paprika';
  font-size: 1rem;
  color: #F2F2F2; }

body {
  background-color: #232324;
  display: grid;
  grid-template-columns: 16% 1fr;
  grid-template-rows: 1fr 5%; }

header {
  grid-column: 1 / 2;
  grid-row: 1 / 3; }

main {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

footer {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

/*  Importamos el Layout  */
header {
  background-color: #356A7A; }
  header .h-titulo {
    display: flex;
    flex-flow: wrap column;
    align-items: center; }
    header .h-titulo .imagenes-titulo {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    header .h-titulo p {
      font-family: 'Pacifico', cursive;
      font-weight: lighter;
      font-size: 2rem; }
  header nav {
    display: flex;
    flex-direction: column; }
    header nav .registro li {
      display: flex;
      list-style: none; }
      header nav .registro li a {
        width: 100%;
        margin: 10px;
        text-align: center;
        color: #F2F2F2;
        font-size: 1.5rem; }
        header nav .registro li a:hover {
          color: #d6a779; }
        header nav .registro li a:active {
          color: #D47070; }
    header nav ol {
      margin: 2.1875rem; }
      header nav ol li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem; }
        header nav ol li a {
          list-style: circle;
          width: 100%;
          align-self: baseline;
          list-style: circle;
          color: #F2F2F2;
          font-size: 1.5rem; }
          header nav ol li a:hover {
            color: #d6a779; }
          header nav ol li a:active {
            color: #D47070; }
        header nav ol li ul {
          display: flex;
          flex-direction: column;
          align-items: baseline; }
          header nav ol li ul li {
            margin: 1.25rem 0; }
            header nav ol li ul li a {
              color: #F2F2F2;
              font-size: 1.25rem; }
              header nav ol li ul li a:hover {
                color: #d6a779; }
              header nav ol li ul li a:active {
                color: #D47070; }

.grafico {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem; }
  .grafico .titulo-grafico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5625rem; }
    .grafico .titulo-grafico img {
      width: 3rem; }

.modificar-estadisticas {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 2rem 2rem 0.5rem 0;
  gap: 0.5rem; }
  .modificar-estadisticas .e-añadir {
    background-image: url("../assets/img/boton-añadir.png"); }
  .modificar-estadisticas .e-eliminar {
    background-image: url("../assets/img/boton-eliminar.png"); }
  .modificar-estadisticas button {
    display: flex;
    width: 3.25rem;
    height: 3.25rem;
    border: none;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-radius: 50%; }
    .modificar-estadisticas button:hover {
      transform: scale(1.25);
      transition: 0.35s; }

#modificar-estadisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  #modificar-estadisticas fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none; }
    #modificar-estadisticas fieldset legend {
      font-family: 'Paprika';
      font-size: 1.75rem;
      color: #A894FF;
      text-decoration: underline;
      margin: 1rem; }
    #modificar-estadisticas fieldset label {
      font-family: 'Oxygen Mono', monospace;
      font-size: 1.25rem;
      color: #F2F2F2;
      margin: 0.5rem; }
  #modificar-estadisticas .cambio-estadisticas {
    display: flex;
    gap: 5rem; }
    #modificar-estadisticas .cambio-estadisticas button {
      font-family: 'Oxygen Mono', monospace;
      color: #F2F2F2;
      text-decoration: dotted;
      font-size: 1rem;
      border-radius: 2rem;
      width: 8rem;
      height: 2.5rem;
      margin: 1rem 0 2rem 0; }
      #modificar-estadisticas .cambio-estadisticas button:hover {
        transform: scale(1.1);
        transition: 0.25s; }
    #modificar-estadisticas .cambio-estadisticas #subir-datos {
      background-color: #30817A; }
    #modificar-estadisticas .cambio-estadisticas #descartar-datos {
      background-color: #D47070; }

.estadisticas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 6rem; }
  .estadisticas .e-rectangulo {
    margin: .625rem;
    background-color: #F2F2F2;
    border-radius: 1.2rem;
    width: 25%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 4px 5px 5px #545353; }
    .estadisticas .e-rectangulo h2 {
      color: black;
      text-decoration: underline;
      font-size: 1.35rem; }
    .estadisticas .e-rectangulo .estadisticas-p-img {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .estadisticas .e-rectangulo .estadisticas-p-img p {
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration: underline;
        font-family: 'pacifico'; }
      .estadisticas .e-rectangulo .estadisticas-p-img img {
        height: 4rem; }
    .estadisticas .e-rectangulo .t-gastado {
      color: #D47070; }
    .estadisticas .e-rectangulo .t-categoria {
      color: #A894FF; }
    .estadisticas .e-rectangulo .positivo {
      color: #30817A; }
    .estadisticas .e-rectangulo .negativo {
      color: #D47070; }
    .estadisticas .e-rectangulo .t-amigos {
      color: #179EBB; }
    .estadisticas .e-rectangulo .t-limite {
      color: #179EBB; }
    .estadisticas .e-rectangulo .t-limite-no {
      color: #D47070; }
    .estadisticas .e-rectangulo .t-limite-ok {
      color: #30817A; }
    .estadisticas .e-rectangulo .t-gastar-amigo {
      color: #179EBB; }

.añadir-eliminar-datos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem; }
  .añadir-eliminar-datos button {
    background-color: #946332;
    font-family: 'Oxygen Mono', monospace;
    color: #F2F2F2;
    text-decoration: dotted;
    font-size: 1rem;
    border-radius: 2rem;
    width: 10rem;
    height: 3rem; }
    .añadir-eliminar-datos button:hover {
      transform: scale(1.1);
      transition: 0.25s; }

.datos-presupuesto {
  display: grid;
  grid-template-columns: 8% repeat(4, 1fr);
  padding: 1.5625rem 0; }
  .datos-presupuesto p {
    text-align: center;
    padding: 0.5rem 0; }
  .datos-presupuesto h2 {
    text-decoration: underline; }
  .datos-presupuesto :is(.cant-amigos, .nombre-amigo, .gasto-amigo, .categoria-amigo, .fecha-amigo) {
    display: grid;
    grid-template-rows: 20% 1fr;
    align-items: center;
    justify-items: center;
    padding: .625rem 0; }
  .datos-presupuesto .cant-amigos {
    grid-column: 1 / 2; }
  .datos-presupuesto .nombre-amigo {
    grid-column: 2 / 3; }
  .datos-presupuesto .gasto-amigo {
    grid-column: 3 / 4; }
  .datos-presupuesto .categoria-amigo {
    grid-column: 4 / 5; }
  .datos-presupuesto .fecha-amigo {
    grid-column: 5 / 6; }
  .datos-presupuesto .d-p-titulos {
    grid-row: 1 / 2;
    padding-bottom: 1.5rem; }
  .datos-presupuesto .datos {
    grid-row: 2 / 3; }

.separadores {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .separadores .linea {
    width: 30%;
    height: .1875rem;
    background-color: #F2F2F2; }

.categorias {
  margin: 6rem 0; }
  .categorias h2 {
    text-decoration: underline #179EBB; }

.totales {
  display: grid;
  height: 40rem;
  grid-template-rows: 20% 1fr;
  grid-template-columns: repeat(3, 1fr); }
  .totales h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-decoration: underline #179EBB; }
  .totales :is(.nombre-amigo, .categoria-amigo, .fecha-amigo) {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr;
    justify-items: center; }
    .totales :is(.nombre-amigo, .categoria-amigo, .fecha-amigo) h2 {
      grid-row: 1 / 2;
      text-decoration: underline #F2F2F2; }
    .totales :is(.nombre-amigo, .categoria-amigo, .fecha-amigo) .datos {
      margin: 3rem 0;
      grid-row: 2 / 3;
      text-align: center; }
      .totales :is(.nombre-amigo, .categoria-amigo, .fecha-amigo) .datos p {
        margin: 1rem 0; }

.claro {
  background-color: white;
  color: black; }
  .claro h1 {
    color: black; }
  .claro h2 {
    color: black; }
  .claro h3 {
    color: black; }
  .claro p {
    color: black; }

/* Layout de Views */
/* Importamos componentes */
