$colores: (
    color1: #FFFFFF,
    color2: #000000,
    color3: #232324,
    color4: #356A7A,
    color5: #D47070,
    color6: #30817A,
    color7: #A894FF,
    color8: #179EBB,
    color9: #d6a779,
);
