.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    img{
        width: 4rem;
    }
    span{
        font-size: 2.5rem;
        color: map-get($colores, color7);
    }
    h3{
        color: map-get($colores, color5);
    }
}
.profile-login{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 2rem;
    margin-top: 1rem;
    gap: 0.5rem;
    a{
        color: map-get($colores, color7);
        font-size: 1.5rem;
    }
    img{
        width: 2rem;
    }
}
.grafico{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
    .titulo-grafico{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5625rem;
        img{
            width: 3rem;
        }
    }
    .g-grafico{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50vh;
    }
}
.modificar-estadisticas{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 2rem 2rem 0.5rem 0;
    gap: 0.5rem;
    .e-añadir{
        background-image: url('../assets/img/boton-añadir.png');
    }
    .e-eliminar{
        background-image: url('../assets/img/boton-eliminar.png');
    }
    button{
        display: flex;
        width: 3.25rem;
        height: 3.25rem;
        border: none;
        background-size: cover;
        background-position: center;
        background-color: transparent;
        border-radius: 50%;
        &:hover{
            transform: scale(1.25);
            transition: 0.35s;
        }
    }
}

#modificar-estadisticas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    fieldset{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        legend{
            font-family: 'Paprika';
            font-size: 1.75rem;
            color: map-get($colores, color7);
            text-decoration: underline;
            margin: 1rem;
        }
        label{
            font-family: 'Oxygen Mono', monospace;
            font-size: 1.25rem;
            color: map-get($colores, color1);
            margin: 0.5rem;
        }
        input{
            
        }
    }
    .cambio-estadisticas{
        display: flex;
        gap: 5rem;
        button{
            //background-color: #946332;
            font-family: 'Oxygen Mono', monospace;
            color: map-get($colores, color1);
            text-decoration: dotted;
            font-size: 1rem;
            border-radius: 2rem;
            width: 8rem;
            height: 2.5rem;
            margin: 1rem 0 2rem 0;
            &:hover{
                transform: scale(1.1);
                transition: 0.25s;
            }
        }
        #subir-datos{
            background-color: map-get($colores, color6);;
        }
        #descartar-datos{
            background-color: map-get($colores, color5);;
        }
    }
}

.estadisticas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 6rem;
    .e-rectangulo{
        margin: .625rem;
        background-color: map-get($colores, color1);
        border-radius: 1.2rem;
        width: 25%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        box-shadow: 4px 5px 5px rgb(84, 83, 83);
        h2{
            color: black;
            text-decoration: underline;
            font-size: 1.35rem;
        }
        .estadisticas-p-img{
            display: flex;
            align-items: center;
            gap: 1rem;
            p{
                // color: black;
                font-size: 2.5rem;
                font-weight: bold;
                text-decoration: underline;
                font-family: 'pacifico';
            }
            img{
                height: 4rem;
            }
        }
        
        .t-gastado{
            color: map-get($colores, color5);
        }
        .t-categoria{
            color: map-get($colores, color7);
        }
        .positivo{
            color: map-get($colores, color6);
        }
        .negativo{
            color: map-get($colores, color5);
        }
        .t-amigos{
            color: map-get($colores, color8);
        }
        .t-limite{
            color: map-get($colores, color8);
        }
        .t-limite-no{
            color: map-get($colores, color5);
        }
        .t-limite-ok{
            color: map-get($colores, color6);
        }
        .t-gastar-amigo{
            color: map-get($colores, color8);
        }
    }
}

.añadir-eliminar-datos{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 2rem;
    button{
        background-color: #946332;
        font-family: 'Oxygen Mono', monospace;
        color: map-get($colores, color1);
        text-decoration: dotted;
        font-size: 1rem;
        border-radius: 2rem;
        width: 10rem;
        height: 3rem;
        &:hover{
            transform: scale(1.1);
            transition: 0.25s;
        }
    }
}

.datos-presupuesto{
    display: grid;
    grid-template-columns: 8% repeat(4, 1fr);
    padding: 1.5625rem 0;
    margin: 0 0 25rem 0;
    p{
        text-align: center;
        padding: 0.5rem 0;
    }
    h2{
        text-decoration: underline;
    }
    :is(.cant-amigos, .nombre-amigo, .gasto-amigo, .categoria-amigo, .fecha-amigo){
        display: grid;
        grid-template-rows: 20% 1fr;
        align-items: center;
        justify-items: center;
        padding: .625rem 0;
    }

    .cant-amigos{
        grid-column: 1 / 2;
    }
    .nombre-amigo{
        grid-column: 2 / 3;
    }
    .gasto-amigo{
        grid-column: 3 / 4;
    }
    .categoria-amigo{
        grid-column: 4 / 5;
    }
    .fecha-amigo{
        grid-column: 5 / 6;
    }

    .d-p-titulos{
        grid-row: 1 / 2;
        padding-bottom: 1.5rem;
    }
    .datos{
        grid-row: 2 / 3;
    }
}

.separadores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .linea{
        width: 30%;
        height: .1875rem;
        background-color: map-get($colores, color1);
    }
}

.categorias{
    margin: 6rem 0;
    h2{
        text-decoration: underline map-get($colores, color8);
    }
}

.totales{
    display: grid;
    height: 40rem;
    grid-template-rows: 20% 1fr;
    grid-template-columns: repeat(3, 1fr);
    h2{
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        text-decoration: underline map-get($colores, color8);

    }
    :is(.nombre-amigo, .categoria-amigo, .fecha-amigo){
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: 10% 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        h2{
            grid-row: 1 / 2;
            text-decoration: underline map-get($colores, color1);

        }
        .datos{
            margin: 3rem 0;
            grid-row: 2 / 3;
            text-align: center;
            p{
                margin: 1rem 0;
            }
        }
    }
}

#botonModo{
    display: none;
}
.div-boton-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}
.div-noche{
    label{
        scale: 0.6;
    }
}
.slider-v3 {
    position: relative; display: block;
    width: 7em; height: 3em;
    cursor: pointer;
    border-radius: 1.5em;
    transition: 350ms;
    background: #ddd;
}
.slider-v3::after {
    position: absolute; content:'';
    width: 2em; height: 2em;
    top: 0.5em; left: 0.5em;
    border-radius: 1.5em;
    transition:
        width 200ms ease-out,
        height 300ms 50ms ease-in,
        top 300ms 50ms ease-in,
        left 250ms 50ms ease-in,
        background 300ms ease-in,
        box-shadow 300ms ease-in;
    background: #f2f2f2;
    box-shadow: 0 0 0 1.5em #f2f2f2 inset;
}
input:checked + .slider-v3::after {
    width: 4em; height: 3em;
        top: 0; left: 3em;
    background: #4c6;
    box-shadow: 0 0 0 0 #f2f2f2 inset;
}


.claro{
    background-color: #D2C3F2;
    color: map-get($colores, color2);
    transition: 1s;
    h1{
        color: map-get($colores, color2);
    }
    h2{
        color: map-get($colores, color2);
    }
    h3{
        color: map-get($colores, color2);
    }
    p{
        color: map-get($colores, color2);
    }
    button{
        background-color: #6C42BD;
    }
    .modificar-estadisticas{
        button{
            background-color: transparent;
        }
    } 
    .profile{
        span{
            color: #6C42BD;
        }
    }
    header{
        background-color: #4B3873;
        .h-titulo{
            p{
                color: white;
            }
        }
        .div-boton-titulo{
            p{
                color: #e3390e;
            }
        }
    }
    footer{
        background-color: #9384B3;
    }
    #cant-amigos{
        width: 3rem;
    }
    .profile-login{
        a{
            color: #d15d40;
            font-weight: bold;
        }
    }
}