.grafico{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
    .titulo-grafico{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5625rem;
        img{
            width: 3rem;
        }
    }
}
.modificar-estadisticas{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 2rem 2rem 0.5rem 0;
    gap: 0.5rem;
    .e-añadir{
        background-image: url('../assets/img/boton-añadir.png');
    }
    .e-eliminar{
        background-image: url('../assets/img/boton-eliminar.png');
    }
    button{
        display: flex;
        width: 3.25rem;
        height: 3.25rem;
        border: none;
        background-size: cover;
        background-position: center;
        background-color: transparent;
        border-radius: 50%;
        &:hover{
            transform: scale(1.25);
            transition: 0.35s;
        }
    }
}
.modificar-estadisticas-open{
    
}

.estadisticas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 6rem;
    .e-rectangulo{
        margin: .625rem;
        background-color: map-get($colores, color1);
        border-radius: 1.2rem;
        width: 25%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        box-shadow: 4px 5px 5px rgb(84, 83, 83);
        h2{
            color: black;
            text-decoration: underline;
            font-size: 1.35rem;
        }
        .estadisticas-p-img{
            display: flex;
            align-items: center;
            gap: 1rem;
            p{
                // color: black;
                font-size: 2.5rem;
                font-weight: bold;
                text-decoration: underline;
                font-family: 'pacifico';
            }
            img{
                height: 4rem;
            }
        }
        
        .t-gastado{
            color: map-get($colores, color5);
        }
        .t-categoria{
            color: map-get($colores, color7);
        }
        .t-disponible{
            color: map-get($colores, color6);
        }
        .t-amigos{
            color: map-get($colores, color8);
        }
        .t-limite{
            color: map-get($colores, color8);
        }
        .t-limite-no{
            color: map-get($colores, color5);
        }
        .t-limite-ok{
            color: map-get($colores, color6);
        }
        .t-gastar-amigo{
            color: map-get($colores, color8);
        }
    }
}

.añadir-eliminar-datos{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 2rem;
    button{
        background-color: #946332;
        font-family: 'Oxygen Mono', monospace;
        color: map-get($colores, color1);
        text-decoration: dotted;
        font-size: 1rem;
        border-radius: 2rem;
        width: 10rem;
        height: 3rem;
        &:hover{
            transform: scale(1.1);
            transition: 0.25s;
        }
    }
}

.datos-presupuesto{
    display: grid;
    grid-template-columns: 8% repeat(4, 1fr);
    padding: 1.5625rem 0;
    p{
        text-align: center;
        padding: 0.5rem 0;
    }
    h2{
        text-decoration: underline;
    }
    :is(.cant-amigos, .nombre-amigo, .gasto-amigo, .categoria-amigo, .fecha-amigo){
        display: grid;
        grid-template-rows: 20% 1fr;
        align-items: center;
        justify-items: center;
        padding: .625rem 0;
    }

    .cant-amigos{
        grid-column: 1 / 2;
    }
    .nombre-amigo{
        grid-column: 2 / 3;
    }
    .gasto-amigo{
        grid-column: 3 / 4;
    }
    .categoria-amigo{
        grid-column: 4 / 5;
    }
    .fecha-amigo{
        grid-column: 5 / 6;
    }

    .d-p-titulos{
        grid-row: 1 / 2;
        padding-bottom: 1.5rem;
    }
    .datos{
        grid-row: 2 / 3;
    }
}

.separadores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .linea{
        width: 30%;
        height: .1875rem;
        background-color: map-get($colores, color1);
    }
}

.categorias{
    margin: 6rem 0;
    h2{
        text-decoration: underline map-get($colores, color8);
    }
}

.totales{
    display: grid;
    height: 40rem;
    grid-template-rows: 20% 1fr;
    grid-template-columns: repeat(3, 1fr);
    h2{
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        text-decoration: underline map-get($colores, color8);

    }
    :is(.nombre-amigo, .categoria-amigo, .fecha-amigo){
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: 10% 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        h2{
            grid-row: 1 / 2;
            text-decoration: underline map-get($colores, color1);

        }
        .datos{
            margin: 3rem 0;
            grid-row: 2 / 3;
            text-align: center;
            p{
                margin: 1rem 0;
            }
        }
    }
}
