::selection{
    background-color: map-get($colores, color9);
}
:is(h1){
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    font-size: 2.5rem;
    text-align: center;
    color: map-get($colores, color1);
}
:is(h2) {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    font-size: 2rem;
    text-align: center;
    color: map-get($colores, color1);
}
:is(h3) {
    font-family: 'Oxygen Mono', monospace;
    font-size: 1.25rem;
    color: map-get($colores, color1);
}
:is(p) {
    font-family: 'Paprika';
    font-size: 1rem;
    color: map-get($colores, color1);
}

.estrella1{
    transform: rotate(180deg);
    animation-name: estrella1;
}
.estrella2{
    transform: rotate(0deg);
    animation-name: estrella2;
}
:is(.estrella1, .estrella2){
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 8s;
    animation-delay: 0.5s;
}


body{
    background-color: map-get($colores, color3);
    display: grid;
    grid-template-columns: 16% 1fr;
    grid-template-rows: 1fr 15%;
    
}
header{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
main{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
footer{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}